@model LibraryWebApi.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authorid" class="control-label"></label>
                <select asp-for="Authorid" class="form-control" asp-items="ViewBag.Authorid"></select>
                <span asp-validation-for="Authorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genreid" class="control-label"></label>
                <select asp-for="Genreid" class="form-control" asp-items="ViewBag.Genreid"></select>
                <span asp-validation-for="Genreid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yearpublished" class="control-label"></label>
                <input asp-for="Yearpublished" class="form-control" />
                <span asp-validation-for="Yearpublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availablecopies" class="control-label"></label>
                <input asp-for="Availablecopies" class="form-control" />
                <span asp-validation-for="Availablecopies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisherid" class="control-label"></label>
                <select asp-for="Publisherid" class="form-control" asp-items="ViewBag.Publisherid"></select>
                <span asp-validation-for="Publisherid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isavailable" class="control-label"></label>
                <input asp-for="Isavailable" class="form-control" />
                <span asp-validation-for="Isavailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
